<% if object.errors.any? %>
	<div class="row panel callout radius">
		<p>Aşağıdaki hataları düzeltip tekrar deneyiniz.</p>
		<ul class="square">
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>